<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/search.css">
    <title>Search</title>
</head>
<body>
<h1>
    Listado de autores por búsqueda
</h1>

<main>
    <section th:each="author : ${authors}">
        <a th:href="${author.link}" target="_blank" rel="noreferrer">
            <div>
                <img th:src="${author.thumbnail}">
                <p class="name" th:text="${author.name}"></p>
                <p class="description" th:text="${author.affiliation}"></p>
                <p class="email" th:text="${author.email}"></p>

                <span th:text="'Veces citado: ' + ${author.citedBy}"></span>
            </div>
        </a>
    </section>
</main>
</body>
</html>